{% extends 'userapp/baseUser.html' %}
{% block content %}
{% if applist %}
<!-- Shows the apps  -->
<div class="my-2 btn btn-success">
    <h1 class="text-white ">Hello, {{user|capfirst}}!</h1>
</div>
<div class="container col-12 col-md-6 mt-5">
    
    {% for app in applist %}
    {% if not app.name in downloadedApps %}
    
    <a href="{{app.id}}" style="text-decoration: none; " class="text-dark">
        <div class="row justify-content-center border border-dark rounded p-2 mx-2 mb-2"
            style="background-color: powderblue;">

            <!-- To show all apps -->
            <div class="col-4 col-md-4 text-center mx-0 ">
                <img src="{{app.iconLink}}" alt="{{app.name}}" class="col-12 col-md-6 my-auto">
            </div>
            <div class="col-8 col-md-6 my-auto">
                <div class="h6">{{app.name|capfirst}}</div>
                <div class="h6"><i class='fas fa-coins mx-2'></i>{{app.points}}</div>
                <div class="h6" style="font-size: 12px;">{{app.category}}</div>

            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<h1 class="h2 mt-5"> No Apps Added Yet!!</h1>
{% endif %}
{% endblock %}