<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Admin Login</title>
</head>

<body class="text-center">



    
    <!-- Shows the message if the admin username or password not matched -->
 <div class="container-fluid" style="margin-top:100px;">
    <div class=" col-8 col-md-2 container text-center">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">{{message}}</div>
        {% endfor %}
        {% endif %}
    </div>




    <!-- Form to enter username and password -->
        <div class="row  mx-auto justify-content-center">
            <form class="col-8 col-md-3" method='POST'>
                
                <!-- csrf_token  to prevent the cross site request forgery -->
            {% csrf_token %}
              <h1 class="h2  mt-4 mb-5">Admin Login</h1>
              <div class="mb-5 ">
                  <input type="text" name='username' class="form-control" placeholder="Username" required autofocus>
              </div>
              <div class="mb-5 ">
              <input type="password" name='password' class="form-control" placeholder="Password" required>
              </div>
              <button class="w-10 btn btn-lg btn-primary" type="submit">Sign in</button>
            </form> 
        </div>
 </div>





</body>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>


</html>