{% extends 'base.html' %}
{% block content %}


<!-- Buttons to navigate to home page and Logout -->
<div class="container main_container">
    <div class="row justify-content-center">
        <div class="col-6 col-md-2 sidebar mb-5">
            <button class="btn btn-info col-12 mb-2"><a href="{% url 'admin-home' %}" class="text-white">Home</a></button>
            <button class="btn btn-info col-12 mb-2"><a href="{% url 'admin-logout' %}" class="text-white">Logout</a></button>
        </div>
    </div>

<!-- Shows the apps  -->
<div class="container col-12 col-md-6">
    {% for app in app_list %}
       <div class="row justify-content-center border border-dark rounded p-2 mx-2 mb-2" style="background-color: powderblue;">
       
        <!-- To show all apps -->
        <div class="col-4 col-md-4 text-center mx-0 ">
               <img src="{{app.iconLink}}" alt="{{app.name}}" class="col-12 col-md-4 my-auto">
            </div>
            <div class="col-6 col-md-6 my-auto">
                <div class="h6">{{app.name|capfirst}}</div>
                <div class="h6"><i class='fas fa-coins mx-2'></i>{{app.points}}</div>
            </div>

            <!-- To delete the app from db-->
            <form action="{% url 'admin-apps'%}" method="POST" class="col-2 col-md-1" >
                {% csrf_token %}
                <div >
                    <button type="submit" class="close btn-danger rounded" name='app' aria-label="Close" value={{app.id}}>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </form>
            
       </div>
    {% endfor %}
</div>
{% endblock content %}