<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <!-- FontAwesone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    
    <!-- Custom css -->
    <style>
        .sidebar button a
        {
            text-decoration: none;
        }
        .sidebar
        {
            border-left: 2px solid palevioletred;
            border-right: 2px solid palevioletred;
        }
        #icon
        {
            border-left: 10px;
        }
    </style>

    <title>{{title}}</title>
</head>
        
<body class="mb-5">
    <div class="container-fluid p-5 mb-5 text-center bg-secondary text-white ">
        <div class="h1">Welcome Admin!</div>
        
    </div>
    <!-- Message will be displayed when app is created -->
    <div class=" col-8 col-md-5 container text-center">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
        {% endif %}
    </div>
   
{% block content %}

 <!-- Dynamic data from other pages comes here  -->

 {% endblock content%}

</body>



<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>